      
* {
    box-sizing: border-box;
}

body{
    background-color: #c5c5c5;
}


.ui-pic {
    position: absolute;
    /*width: 100%;
    height: 100%;*/
    opacity: 0.5;
  }

/*The layout*/
  .layout-game{
   /* border-left: 10px solid blue; 
    border-right: 10px solid blue;*/ 
    width:300px;
    height:406px;
    /*display: flex;*/
    flex-wrap: wrap;
  }

/* The first child of .layout-game*/   
  .game-header{
    display: flex;
    flex-wrap:wrap;
    align-content:flex-start;
    /*justify-content:flex-start;*/
    border-bottom: 1px solid #000000;
    background-color: #444546;

}


.round{
    width: 22%;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    /* border-radius: 200%; */
    /*height: -28px;*/
}

/* Selects all .bull's elements where the parent is a .round element*/
.round > .bull {
    border-style: solid;
    border-width: 5px;
    /*border : 5px double #ffbd2d;*/
    border-radius: 100%;
    
    align-self: center;
}

.yellow-bull{
    border-color:  #ffbd2d;
    background: #ffbd2d;
}

.red-bull{
    border-color:  #fe544d;
    background: #fe544d;
}

.grey-bull{
    border-color:  #717272;
    background: #717272;
}


  .title-game{
    /* display: flex; */
    flex: 2;
    justify-content: center;
    font: bold;
    color:#c1c2c3;
    text-indent: 40px;
    /*text-align: center;*/
    
    /* width: 42%;*/
}

.level-bar{
    border-left: 5px solid #4a4a4a;
    border-right: 5px solid #4a4a4a;
    height:36px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-items: center;
    background-color: brown;
}

.score-time{
    border-left: 11px solid #4a4a4a;
    border-right: 15px solid #4a4a4a;
    display: flex;
    /* border-style: inset; */
    /* height: 53px; */
    /* padding: 25px; */
    height: 50px;
    /* width: 100%; */
    justify-content: space-between;
    align-items: center;
    
}


.score-time > div {
    background-color: black;
    margin: 1px;
    padding: 10px;    
}

/*
.score{
    border-style: inset;

}
*/

.smile{

}

.timer, .score{
    border-style: inset;
    /* position: relative; */
    display: inline-block;
    width: 67px;
    /* height: 50px; */
    /* margin: 5px;*/
}

.digital-num{
    font-size: 14px;
    color:#c03737;
}



.button{
    height: 24px;
    width: 87px;
    background-color: #4a4a4a;
    font-weight: bold;
    color: #c5c5c5;
}

.flex-bord{  
    background-color: #32e267;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    /*padding: 10px;*/
  }
/*
  .bar{
    border: 10px solid bisque;  
    background-color: #ca3b3a;  
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 3px
  }
*/
.dashbourd-game{
    border-top: 5px solid;
    border-left: 5px solid;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    background-color: #c25be4;
}

.cell{
  width: 30px;
  height: 30px;
  border: 1px solid black;
 
  /*(box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;*/
}


.number{
    text-align: center;
}

.box-unswitch{
    background-color:wheat ;
}



.face{
    color: #fdf652;
}


.box-switch{
    border: 1px solid #434343 ;
    background-color:#4a4a4a;
}

.one{
    color:#569cdc;
}

.two{
    color:#32e267;
}

.three{
    color:#ca3b3a;
}

.four{
    color:#c25be4;
}


.bump{
    background-color: #ca3b3a;
}

.main-color{
    background-color: #4a4a4a;
}

