* {
  box-sizing: border-box;
}

body {
  background-color: #c5c5c5;
}

.ui-pic {
  position: absolute;
  opacity: 0.5;
}

/**     The layout      **/
.layout-game {
  display: flex;
  flex-flow: column wrap;
  width: 300px;
}

/* The first child of .layout-game */
.header-game {
  display: flex;
  align-content: flex-start;
  border-bottom: 1px solid #000000;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: #454647;
}

/*
 The layout 3 bolls direct child of .game-header
*/
.round {
  width: 22%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.bull {
  border: 5px solid;
  align-self: center;
  border-radius: 100%;
}

.yellow-bull {
  border-color: #ffbd2d;
  background: #ffbd2d;
}

.red-bull {
  border-color: #fe544d;
  background: #fe544d;
}

.grey-bull {
  border-color: #717272;
  background: #717272;
}

/* the title minesweeper direct (/second) child of .game-header  */
.title-game {
  flex: 2;
  justify-content: center;
  font: bold;
  color: #b9baba;
  text-indent: 40px;
}

.board-game {
  display: flex;
  flex-flow: column wrap;
  /*justify-content: space-around;*/
  background-color: #4a4a4a;
  border: solid 1px #4a4a4a;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.information {
  display: flex;
  flex-flow: column wrap;
  border-left: 10px solid #4a4a4a;
  border-right: 10px solid #4a4a4a;
}

.border {
  /* top | right | bottom | left */
  border-style: inset;
  border-color: #646464 ;
}

.level {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 36px;
}

.btn {
  /* top | right | bottom | left */
  border-style: outset inset inset outset;
  border-color: #646464 #303030 #303030 #646464;
  background-color: #4a4a4a;
  color: #c5c5c5;
}

.level-btn {
  height: 24px;
  width: 87px;
  font-weight: bold;
}

/* Style the active class, and buttons on mouse-over */
.active,
.btn:hover {
  border: inset outset outset inset;
  border-color: #303030 #646464 #646464 #303030;
}

.panel {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.panel > div {
  height: 40px;
  margin: 1px;
  padding: 10px;
}

.score-timer {
  border-style: outset inset inset outset;
  border-color: #303030 #646464 #646464 #303030;
  background-color: #000000;
  width: 25%;
}

.smile {
  /*border-style: outset inset inset outset;
  border-color: #646464 #303030 #303030 #646464;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* position: relative; */
  /*background-color: #32e267;*/
  width: 10%;
}

.icon {
  border: 2px solid black;
  border-radius: 100%;
  background-color: #fdf652;
}

svg {
  width: 100px;
  flex: 1;
}

.digital-num {
  font-size: 14px;
  color: #c03737;
}

.dashbourd-game {
  /*border-style: inset; */
  /* border-color: #646464; */
  display: flex;
  flex-wrap: wrap;
  /* margin: 12px; */
  padding: 10px;
  border: solid 5px #4a4a4a;
  border-bottom-left-radius: 4%;
  border-bottom-right-radius: 4%;
}

.mine-open {
  border: solid #303030;
  border-bottom: none;
  border-right: none;
  background-color: #c93b3a;
  width: 30px;
  height: 30px;
  /*(box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;*/
}

.number {
  font-size: 1.125em;
  font-weight: bold;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Ubuntu, Arial, sans-serif;
  text-align: center;
}

.face {
  color: #fdf652;
}

.main-color {
  background-color: #4a4a4a;
}

.placeholder {
  /*width:20px;*/
  height: 20px;
  margin: 0 5px;
  position: relative;
  display: inline-block;
}

.digit {
  background: #c00;
  border-radius: 5px;
  position: absolute;
  opacity: 0.15;
  transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  -ms-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
}

.row {
  display: flex;
}

.row > * {
  width: 30px;
  height: 30px;
}

.mine {
  background-color: #c93b3a;
}

.close {
  border: 3px outset #808080;
  background-color: #5f5f5f;
}

.open {
  border: solid #303030;
  border-bottom-width: thin;
  border-right-width: thin;
  background-color: #4a4a4a;
  text-align: center;
  line-height: 1.8;
  /*(box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;*/
}

[class="open"] {
  font-family: Arial, Helvetica, sans-serif;
  font-stretch: extra-expanded;
  font-weight: bold;
  /*(box-shadow: inset 5px 5px 10px #FFF, inset -3px -3px 5px #777;*/
}

.neighbors-1 {
  color: #569cdc;
}

.neighbors-2 {
  color: #32e267;
}

.neighbors-3 {
  color: #ca3b3a;
}

.neighbors-4 {
  color: #c25be4;
}
